<html>
	<head>
		<title>SmartCode</title>
		<link rel="stylesheet" th:href="@{/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		
	</head>
	
	<body class="container mt-4">
		<div class="d-flex">
			<img th:src="@{/images/bg4.jpg}">
			<div class="text-center mb-4">
				<img th:src="@{/images/pic7.PNG}">
	    		<h2 style="color: rgb(128, 0, 128);" class="text-center mb-4"><u>Add New Product</u></h2>
				<form action="/productSubmit" method="post" enctype="multipart/form-data" class="border p-4 rounded shadow">
	        		<div class="mb-3">
	            		<label style="color: rgb(128, 0, 128);" for="name" class="form-label">Cloth Name</label>
	            		<input style="color: rgb(255, 0, 255);" name="name" type="text" class="form-control" required>
	        		</div>

	        
	        	 	<div class="mb-3">
	            		<label style="color: rgb(128, 0, 128);" for="Kind" class="form-label">Kind of Cloth</label>
	            		<select style="color: rgb(255, 0, 255);" id="clothing" name="Kind" class="form-select" required>
							<option value="">-Select kind of cloth-</option>
	                		<option value="nightdress">Nightdress</option>
	                		<option value="underwear">Underwear</option>
	                		<option value="outerwear">Outerwear</option>
	                		<option value="seasonal">Seasonal Clothes</option>
	                		<option value="casual">Casual Wear</option>
	                		<option value="formal">Formal Wear</option>
	            		</select>
	        	 	</div>

	        		<div class="mb-3">
	            		<label style="color: rgb(128, 0, 128);" for="Price" class="form-label">Price (Tsh)</label>
	            		<input style="color: rgb(255, 0, 255);" name="Price" type="number" class="form-control" placeholder="Enter cloth price" required>
	        		</div>

	        
	        		<div class="mb-3">
	            		<label style="color: rgb(128, 0, 128);" for="imageFile" class="form-label">Cloth Photo</label>
	            		<input style="color: rgb(255, 0, 255);" type="file" id="imageFile" name="imageFile" accept="image/*" class="form-control"  required>
	        		</div>

	        
	        		<button type="submit" class="btn btn-primary w-100">
	            		<i class="bi bi-upload"></i> SUBMIT
	        		</button>																								

	        
	        		<p class="mt-3 text-success" th:text="${message3}"></p>
	        		<p class="text-danger" th:text="${message4}"></p>
	    		</form>
			</div>
		</div> 
	</body>
</html> 